<div class="row">

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Existing TODOs
				<span class="badge pull-right">{{todos.length}}</span>
			</div>
			<ul class="list-group">
				<li class="list-group-item"
				    data-ng-repeat="todo in todos"
				    data-ng-class="{'active':todo === current}">
					<span data-ng-click="select(todo)">{{todo.text}}</span>
					<button class="pull-right btn btn-default btn-xs" title="delete entry" data-ng-click="delete(todo)">x</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				TODO
			</div>
			<div class="panel-body">
				<input data-ng-model="current.text" placeholder="type your todo here ...">
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" data-ng-click="save()">Save</button>
				<button class="btn btn-default" data-ng-click="new()">New</button>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-danger" data-ng-show="error">
			<div class="panel-heading">ERROR</div>
			<div class="panel-body">
				{{error}}
			</div>
		</div>
	</div>

</div>
