<div class="row">

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				Existing TODOs
				<span class="badge pull-right">{{todos.length}}</span>
			</div>
			<div class="list-group">
				<a class="list-group-item"
				   data-ng-repeat="todo in todos"
				   data-ng-click="select(todo)"
				   data-ng-class="{'active':todo._id === current._id,'list-group-item-danger':!todo.completed}">
					{{todo.text}}
					<span class="pull-right btn-group">
						<button class="btn btn-default btn-xs" title="check entry" data-ng-click="toggleCompleted(todo)">
							<i class="fa fa-check-square-o" data-ng-if="todo.completed"></i>
							<i class="fa fa-square-o" data-ng-if="! todo.completed"></i>
						</button>
						<button class="btn btn-default btn-xs" title="delete entry" data-ng-click="delete(todo)">
							<i class="fa fa-times"></i>
						</button>
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				TODO
			</div>
			<div class="panel-body">
				<textarea data-ng-model="current.text" placeholder="type your todo here ..."></textarea>
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" data-ng-click="save()" data-ng-disabled="! current.text">
					Save
				</button>
				<button class="btn btn-default" data-ng-click="new()" data-ng-disabled="! current._id">
					New
				</button>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-danger" data-ng-show="error">
			<div class="panel-heading">ERROR</div>
			<div class="panel-body">
				{{error}}
			</div>
		</div>
	</div>

</div>
